<div class="container">
  <% @restaurants.each do |restaurant| %>
    <div class=" card" style="background-image: url(<%= restaurant.url %>); background-size: cover; background-position: center; background-repeat: no-repeat">
      <div class="card-header text-center">
        <%= restaurant.category %>
      </div>
      <div class="card-body">
        <div class="card-text">
          <h4 class="card-title">
          <%= restaurant.name %>
          </h4>
          <p class="card-text">
          <%= restaurant.address %>
          </p>
          <p class="card-text">
          <%= restaurant.phone_number %>
          </p>
        </div>
        <%= link_to 'Review', restaurant_path(restaurant), class:'btn btn-dark', id:'review-button' %>
      </div>
    </div>
  <% end %>
</div>
