<div class="show-container">
  <div class="card-trip m-3">
    <div id="test-image" style="background-image: url(<%= @restaurant.url %>); background-size: cover; background-position: center; background-repeat: no-repeat"></div>
    <div class="card-trip-infos">
      <div class="info-texts">
        <h3><%= @restaurant.name %></h3>
        <p><%= @restaurant.address %></p>
      </div>
      <div class="btn card-trip-pricing">
      <strong>
      <%= link_to "Write a Review", new_restaurant_review_path(params[:id]) %>
      </strong>
      </div>
    </div>
  </div>

  <div class="reviews-container">
    <% @reviews.each do |review| %>
      <div class="review-card">
        <h5 class="review-card-title">
        <% review.rating.times do %>
          <div class="star">⭐</div>
        <% end %>
        </h5>
        <p class="review-card-text">
        <%= review.content %>
        </p>
      </div>
    <% end %>
  </div>
</div>
